.evenRow
{
	background-color: #BDC7F7;
}

ul.importOptions
{
	list-style-type: none;
}

dl.importOptions dt
{
	float: left;
	padding-right: 10px;
}

ul.importOptions li
{
	display: inline;
	padding-left: 5px;
}

table.listing-table th.prompt
{
	color: white;
	background-color: #BDC7F7;
	width: 25%;
}

table.listing-table td.data
{
	background-color: #DCE6FB;
}

td.data, td.data ul
{
	text-align: left;
}

td.data
{
	padding-left: 10px;
}

dl.importAttribs
{
	width: 100%;
}

dl.importAttribs dt
{
	font-weight: bold;
	float: left;
	clear: both;
}

dl.importAttribs dd
{
	clear: both;
	float: left;
}

dl.importAttribs dd ul
{
	float: left;
	padding: 0px;
	margin: 0px;
}

dl.importAttribs dd li
{
	float: left;
	margin-right: 10px;
}
