/* item input widgets */

ul.saveButtons
{
	clear: both;
	float: right;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

ul.saveButtons li
{
	float: left;
	padding-right: 2px;
	border: none;
}

div.item_inputContent th.prompt
{
	color: white;
	background-color: #BDC7F7;
}

div.item_inputContent td.data
{
	background-color: #DCE6FB;
}

table.cloneItemForm th.prompt
{
	background: transparent;
	color: black;
}

table.cloneItemForm td.data
{
	background: transparent;
}

td ul.tabMenu
{
	padding-left: 0px;
	margin-left: 0px;
}

.multiValue a
{
	margin-left: 10px;
	margin-top: 2px;
	float: left;
	text-decoration: underline;
}

.multiValue ul
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	float: left;
}

/* site plugin search form */

#site-add-content
{
	clear: both;
	padding-top: 10px;
}

#site-add-manual
{
	padding-top: 10px;
}

ul#site-add-menu
{
	list-style-type: none;
	width: 80%;
	margin-left: 0px;
}

ul#site-add-menu li
{
	float: left;
	padding: 5px;
	border-right: 1px solid gray;
	white-space: nowrap;
}

ul#site-add-menu li.first
{
	border-left: 1px solid gray;
}

ul#site-add-menu li
{
	cursor:pointer;
}

ul#site-add-menu li.activeTab
{
	font-weight: bold;
	cursor:default;
}

#site-add-content h3
{
	display: none;
}

#site-add-content h4
{
	clear: both;
}

#site-add-content img.siteLogo
{
	vertical-align: bottom;
	float: left;
	padding: 10px;
}

#site-add-content label, #site-add-manual label
{
	color: #626C99;
	display: block;
	padding-top: 5px;
}

div.sitePluginHidden
{
	display: none;
}

input.submit
{
	display: block;
}

/* site search results */

#site-search td.image
{
	width: 5%;
}

#site-search td.title
{
	text-align: left;
	padding: 5px;
}

#site-search td.moreInfo
{
	width: 8%;
	padding: 5px;
	white-space: nowrap;
}

#site-search td.moreInfo a
{
	display: block;
	background-image: url(../../images/magnify.png);
	background-repeat: no-repeat;
	background-position: top left; 
	padding-left: 20px;
	text-align: left;
}

#site-search .footer-links
{
	padding-top: 10px;
	float: left;
}

/* layout */

div.tabContentContainer
{
	border: 1px solid gray;
	float: left;
	margin-top: -1px;
	clear: left;
	
}

div.tabContent .footer-links
{
	float: right;
}

ul.multiFieldMenu
{
	padding: 3px;
	margin: 2px;
	clear: both;
	list-style-type: none;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

ul.multiFieldMenu li
{
	float: left;
	border: 1px solid black; 
	border-bottom: none;
	padding: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #DCE6FB; 
	cursor: pointer;
}

ul.multiFieldMenu li.activeTab
{
	background-color: white; 
	font-weight: bold; 
	cursor: default;
}

div.multiFieldContainer
{
	clear: both;
	float: left;
}

.fieldContentHidden
{
	display: none;
}

div.sitePluginDebug 
{
	padding: 5px;
	margin-top: 25px;
	border:1px dashed black;
	clear: left;
}

div.sitePluginDebug h2
{
	margin-top: 0px;
}

ul.checkboxGridOptionsVertical, ul.checkboxGridOptions, ul.radioGridOptionsVertical, ul.radioGridOptions
{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

ul.checkboxGridOptionsVertical li, ul.radioGridOptionsVertical li
{
	float: left;
	width: 30%;
}

td.gamesystem li {
	height: 40px;
	padding: 5px;	
}
