#loginForm ul
{
	margin-left: 0px;
	padding-left: 0px;
	list-style-type: none;
	width: 100%;
}

#loginForm ul li
{
	white-space: nowrap;
}

#loginForm ul li label
{
	margin: 5px;
	display: block;
}
