#loginFormDiv {
	margin: 0 auto;
	width: 600px;
	font-size: 200%;
	padding: 20px; 
	margin-top: 25px;
}

h2 {
	display: none;
}

#loginForm input.text, input.password, input.submit   {
	font-size: 130%;
}

#loginForm ul
{
	text-align: left;
	margin-left: 0px;
	padding-left: 0px;
	list-style-type: none;
}

#loginForm ul li
{
	white-space: nowrap;
}

#loginForm ul li label
{
	margin: 5px;
	display: block;
}

.redirectMessage {
	color: #FF3333;
	font-weight: bold;
	font-size: 80%;
}
