#loginFormDiv {
	margin: 0 auto;
	width: 100%;
	margin-top:25px;
	margin-left:25px;
	margin-bottom:600px;
}

h2 {
	display: none;
}

#loginForm .label {
		font-size: 150%;
		color: #626C99;
}

#loginForm input.text, input.password, input.submit {
	font-size: 150%;
}

#loginForm ul
{
	text-align: left;
	margin-left: 0px;
	padding-left: 0px;
	list-style-type: none;
}

#loginForm ul li
{
	white-space: nowrap;
}

#loginForm ul li label
{
	margin: 5px;
	display: block;
}

.redirectMessage {
	color: #FF3333;
	font-weight: bold;
	font-size: 80%;
}
