.OpendbStatsGraphs
{
	background: transparent;
	width: 600;
	height: 250;
	
	text-color: #000000;
	caption-color: #000000;
	light-color: #BDC7F7;
	dark-color: #DCE6FB;
	light-border-color: #DCE6FB;
	dark-border-color: #000000;
	background-color: #FAFAFA;
}

h3
{
	clear: both;
}

dl.reviewStats
{
	width: 30%;
	float: left;
	margin-top: 0px;
}

dl.reviewStats dt
{
	float: left;
	padding-right: 10px;
	font-weight: bold;
	width: 60%;
	white-space: nowrap;
}

dl.reviewStats dd
{
	color: #626C99;
}

table.itemStats td
{
	color: #626C99;
	text-align: center;
}

table.itemStats tr.totals th
{
	text-align: right;
	font-size: 90%;
}

ul.graph
{
	list-style-type: none;
	padding-left: 0px;
	margin-left: 0px;
}

div.tabContainer {
	margin-top: 25px;
	width: 800px;
	border: 0px;
}

div#tab-content {
	border: 0px;
	border-top: 1px solid #626C99;
}

ul#tab-menu li {
	border: 1px solid #626C99;
}
