p.verifyCode img
{
	display: block;
}

p.verifyCode label
{
	font-weight: bold;
}

dl.userType dt
{
	font-weight: bold;
}

ul.addressIndicators {
	paddding-left: 0px;
	list-style-type: none;
}

ul.addressIndicators li {
	float: left;
}

table.addressInputForm
{
	clear: both;
}