#content {
	margin-left: 0px;
}

#login-box {
	display: none;
}

table.installDirList th.prompt {
	text-align: left;
}

table.installDirList td.data,table.userPrivilegesList td.data {
	text-align: center;
}

.installwarning {
	font-size: 100%;
	font-weight: bold;
}