table.searchForm th.prompt {
	background: transparent;
	color: black;
}

table.searchForm td.data {
	background: transparent;
}

ul.searchInputOptions {
	list-style-type: none;
	padding-left: 0px;
}

ul.searchInputOptions li {
	float: left;
}