#toggle-show-deactivated-users {
	float: right;
	width: 150px;
	clear: both;
	margin-right: 20px;
}

#toggle-show-deactivated-users form {
	white-space: nowrap;
}

div.listing-table table #header-user_id_rs {
	width: 20px;
}