<?php
// Database configuration
$CONFIG_VARS['db_server'] = array(
			'host'=>'localhost',	//OpenDb database host
			'dbname'=>'opendb',		//OpenDb database name
			'username'=>'lender',	//OpenDb database user name
			'passwd'=>'test',		//OpenDb user password
			'charset'=>'utf8',	    //Database charset
			'table_prefix'=>NULL, 	//'opendb_';//Specify a table prefix.  Include the '_' as well!
			'debug-sql'=>FALSE);	//Specify whether all SQL statements should be displayed in the page.

// Database Session enabled
$CONFIG_VARS['session_handler']['enable'] = FALSE;

// can configure gd lib to load here
//$CONFIG_VARS['site.gd']['library'] = 'gd.so';
?>
