#lastitemslist
{
	position: relative;
	top: 0px;
	text-align: center;
	border:none;
	padding: 5px;
	width: 70%;
	float: left;
	margin-top: 5px;
}

#lastitemslist ul
{
	text-align: center;
	list-style-type: none;
	margin-left: 0px;
	padding: 5px;
}

#lastitemslist li
{
	float: left;
	width: 150px;
	height: 200px;
	overflow: hidden;
	padding: 10px;
}

#lastitemslist small
{
	display: block;
	color: #626C99;
	font-size: 85%;
	margin: 0px;
}

#lastitemslist h3
{
	display: none;
}

#lastitemslist h4
{
	display: block;
	font-weight: bold;
	font-size: 95%;
}

#lastitemslist img.s_item_type
{
	vertical-align: middle;
}

#lastitemslist span.coverImage
{
}

#announcements
{
	float: right;
	clear: right;
	width: 20%;
	border:1px dashed black;
	margin-bottom: 10px;
	margin-top: 5px;
	margin-right: 5px;
	font-size: 75%;
	padding: 10px;
}

#announcements ul
{
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
	padding-top: 0px;
	margin-top: 0px;
}

#announcements h3
{
	display: none;
}

#announcements h4
{
	color: #626C99;
	font-size: 110%;
	margin: 0;
}

#announcements small
{
	color: #626C99;
	font-size: 95%;
	margin: 0;
}

#announcements p, #announcements a
{
	font-size: 100%;
}

#whatsnew
{
	float: right;
	clear: right;
	border:1px dashed black;
	width: 20%;
	padding: 10px;
	margin: 5px;
	margin-left: 0px;
}

#whatsnew, #whatsnew a
{
	font-size: 85%;
}

#whatsnew ul
{
	list-style-type: none;
	text-align: left;
	margin: 0;
	padding: 0;
}

#whatsnew ul.block
{
	padding-bottom: 15px;
}

#whatsnew li
{
	padding-left: 20px;
}

#whatsnew li.tick
{
	background:url(../../images/tick.gif) left top no-repeat;
}

#whatsnew li.cross
{
	background: url(../../images/cross.gif) left top no-repeat;
}

#whatsnew h4
{
	font-size: 110%;
	margin-top: 1px;
	margin-bottom: 1px;
}

#whatsnew h3
{
	display: none;
}

#loginForm ul
{
	margin-left: 0px;
	padding-left: 0px;
	list-style-type: none;
	width: 100%;
}

#loginForm ul li
{
	white-space: nowrap;
}

#loginForm ul li label
{
	margin: 5px;
	display: block;
}
