#menu
{
	display: none;
}

#content
{
	padding-left: 0px;
}

#header, 
	#listing-filters, 
	.checkbox, 
	ul.checkbox-action-links, 
	#header-item_id_instance_no, 
	.item_id_instance_no, 
	.alphalist, 
	ul.listingControls, 
	div.help, 
	.listingPager, 
	.tabMenu, 
	ul.sitepluginLinks, 
	ul.footer-links,
	.norating
{
	display: none;
}

body
{
	background-color: white;
}

h2
{
	padding-top: 0px;
}

#content
{
	width: 99%;
}

#tab-content
{
	float: left;
	clear: both;
	border: none; 
	margin-top: 5px;
	padding: 5px;
	margin-bottom: 10px;
}

a:hover
{
	text-decoration: none;
}

.oddRow td, .evenRow td
{
	background-color: white;
	font-size: x-small;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
	border-spacing: 0;
}

.evenRow td
{
	background-color: white;
}

.navbar th
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: bold;
	text-align: center;
	background-color: light gray;
	border: none;
}

div.item_displayContent th.prompt, div.item_displayContent td.data
{
	color: black;
	background-color: transparent;
}
